<!--
Type: name of the executable
Name: name of the node
output: where to log the outputs. "screen" is to the terminal.
-->
<launch>
  <!-- Turtlebot3 model-->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="model" value="$(arg model)"/>
  <param name="turtlebot_model" type="string" value="burger"/>

  <!-- Nodes to launch-->
  <node pkg="fast_turtle" type="live_simulation" name="live_simulation" output="screen" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find fast_turtle)/rviz/scene.rviz" />
  <!--<node pkg="fast_turtle" type="controller" name="controller" output="screen"/>-->
  <!--<node pkg="fast_turtle" type="controller_training" name="controller_training" output="screen"/>-->
</launch> 